.recipe-container{
    margin: 20px auto;
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.recipe-container > *{
    flex: 1 2 15em;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@media screen and (max-width:700px) {
    .recipe-container{
        width: 80%;
    }
}
@media screen and (max-width:500px) {
    .recipe-container{
        width: 85%;
    }
}